<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Tradutor Libras</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Pacifico">
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}">
        <script
            src="https://code.jquery.com/jquery-3.7.1.js"
            integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
            crossorigin="anonymous"></script>
        <script
            src="https://cdn.socket.io/4.7.2/socket.io.min.js"
            integrity="sha384-mZLF4UVrpi/QTWPA7BjNPEnkIfRFn4ZEO3Qt/HFklTJBj/gBOV8G3HcKn4NfQblz"
            crossorigin="anonymous"></script>
    </head>
    <body>
        <div id="navbar-container">
            <a id="logo-container" href="/">
                <img id="logo-img" src="{{ url_for('static',filename='favicon.png') }}"/>
                <p>Tradutor Libras</p>
            </a>
            <a id="navbar-link" href="/about" target="_blank">Sobre</a>
        </div>

        <div id="video-container">
            <div id="video-sub-container">
                <video autoplay playsinline id="videoElement"></video>
                <canvas id="canvas" width="560" height="420"></canvas>
            </div>
            <div id="video-sub-container">
                <img id="photo" width="560" height="420">
            </div>
        </div>
        
        <script  src="{{ url_for('static',filename='script.js') }}"></script>
    </body>
</html>
